/* Font Faces */
@font-face {
    font-family: 'Roboto';
    src: url('assets/css/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/css/fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/css/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/css/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('assets/css/fonts/SourceSerifPro-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('assets/css/fonts/SourceSerifPro-Semibold.otf') format('opentype');
    font-weight: 600; /* Semi-bold */
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

/* Italic Text */
.em {
    font-style: italic;
}

/* Bold Text */
.strong {
    font-weight: 500;
}

/* Bold and Italic Text */
.strong.em {
    font-weight: 500;
    font-style: italic;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}

/* Bolded Headings */
h1.strong, h2.strong, h3.strong, h4.strong, h5.strong, h6.strong {
    font-weight: 600;
}
